.carousel-item {
    position:relative;
    display:none;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:100%;
    transition:-webkit-transform .6s ease;
    transition:transform .6s ease;
    transition:transform .6s ease,
    -webkit-transform .6s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-perspective:1000px;perspective:1000px
}
.carousel-item-next,.carousel-item-prev,.carousel-item.active{
    display:block
}