@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body{
  background-color: rgb(199, 191, 191);
  background-size: 100vw 100vh;
}
/*ESTILOS PARA EL ENCABEZADO*/
.header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;left: 0;
  background: #333;
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu, .logo{
  float: left;
  line-height:100px;
}
.container .btn-menu label{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.logo h1{
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}
.container .menu{
  float: right;
  line-height: 100px;
}
.container .menu a{
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover{
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/*FIN*/

/*LOGO PRINCIPAL*/
.logo {
  position: absolute; /*hace que muevas relativamente su posición*/
  top: -50px; /*Pixeles arriba de su posición natural (puede ser negativo)*/
  left: 0px; /*Pixeles a la izquierda de su posición natural*/
  right: 0px; /*Pixeles a la derecha de su posición natural*/

    width: 250px;
    height: 150%;
    background-color: #484e4d;
  }

  .pull-left {
    float: left;
  }
/*FIN LOGO PRINCIPAL*/


/*MENU IZQUIERDO*/
#link {
  color: #fff;
  margin: 0 10px;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}
i { margin: 0 7px; }
#sidebarCollapse {
  color: #fff;
  background: transparent;
  outline: none;
  margin: 0 20px;
}
#sidebarCollapse:hover {
  color: #566166;
  background: #fff;
  outline: none;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}#sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 100px;
    margin-top: 100px;
    color: #fff;
    background: #2a3542;
    height: 85%;
}

#sidebar.active{
	margin-left: -100px;
}

#sidebar .sidebar-header{
	padding: -10px;
	background: #6a76f8;
}
#sidebar ul.components{
	padding: -1px 0px;
}

#sidebar ul p{
	padding: -20px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px 10px 10px 10px;
	font-size: 1.1em;
	display: block;
    color: rgb(241, 238, 238);
}
#sidebar ul li a:hover {
    color: #26242c;
    background: rgb(156, 152, 152);
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #e0dfe2;
}
/*FIN MENU IZQUIERDO*/

/*BARRA DE DESPLAZAMIENTO DERECHO*/
#content {
  width: 100%;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  margin-top: 70px;
}
/* FIN DE BARRA DE DESPLAZAMIENTO DERECHO*/

/*MENU DE ARRIBA (CABEZERA)*/
.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Montserrat Alternates', sans-serif;
	text-decoration: none;
}
/* FIN MENU DE ARRIBA (CABEZERA)*/

/* SUBMENU DE CABEZERA DE ARRIBA*/

.submenu{
	position: absolute;
	background: #333333;
	width: 100%;
	height: 180px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0s;
}

.submenu li a{
	display: block;
	padding: 0px;
	color: #fff;
	font-family: 'Montserrat Alternates', sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

  .entrar{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    background-color: #46494b;
    border-radius: 6px;
  }

  /* FIN DE SUBMENU DE CABEZERA DE ARRIBA*/

  /*CONFIGURAR CRUD*/
  .card{
    position: fixed; /*hace que muevas relativamente su posición*/
		width: 20%;
	  max-height: 480px;
    min-height: 100px;
		margin: 0px;
		top: 150px; /*Pixeles arriba de su posición natural (puede ser negativo)*/
		left: 300px; /*Pixeles a la izquierda de su posición natural*/
    right: 0px; 
	  }

    .col-lg-8{    
    position: absolute; /*hace que muevas relativamente su posición*/
		width: 50%;
	  max-height: -300px;
    min-height: -500px;
		margin: -5px;
		top: 150px; /*Pixeles arriba de su posición natural (puede ser negativo)*/
		left: 600px; /*Pixeles a la izquierda de su posición natural*/
    right: 20px; 
	  }
      /*FIN DE CONFIGURAR CRUD*/

      
      
      